.Header {
    height: 47px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 2;
    border-bottom: 3px solid white;
    background: rgb(17, 109, 85);
    background: radial-gradient(circle,
            rgb(17, 109, 85) 0%,
            rgb(90, 190, 218) 0%,
            rgb(46, 23, 71) 100%);
}


.Header a,
i {
    text-decoration: none;
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    transition: transform .2s;
}

.Header a :hover {
    transform: scale(1.2);
}