.component {
    position: relative;
    max-width:300px;
    margin: 5rem auto;
    padding: 1rem;
    box-shadow: 2px 2px 10px #454545;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    min-width: 300px;
}

.credit-card h2 {
    color: rgba(4, 99, 128, 1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.component .credit-card form {
    display: flex;
    flex-direction: column;
}

.component .credit-card .line {
    display: flex;
}

.component .credit-card .line input {
    width: 20%;
    flex: 1;
    margin: 0.4rem 0.3rem;
}

input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin: 1rem 0;
    padding: 4px;
    font-size: 1rem;
    outline: none;
    
}

input::-webkit-input-placeholder {
    color: #AAAAAA;
}

.valid-button {
    border: 0;
    padding: 1rem 2rem;
    background-color: rgba(4, 99, 128, 0.9);
    color: #EFECCA;
    font-weight: bold;
    margin-top: 2rem;
    box-shadow: 1px 1px 1px black;
}

.valid-button:hover {
    background-color: rgba(4, 99, 128, 1);
    box-shadow: none;
    cursor: pointer;
}


